<div class="slider-container-gral">
    <div id="contenedor-slider" class="contenedor-slider">
            <div id="slider" class="slider">
                <section class="slider__section">
                    <a  routerLink="/escugen">
                        <img src="./assets/img/INSTITUTOS1.png" alt="">
                    </a>
                    <a  routerLink="/escusub">
                        <img src="./assets/img/INSTITUTOS2.png" alt="">
                    </a>
                    <a  routerLink="/escusuper">
                        <img src="./assets/img/INSTITUTOS3.png" alt="">
                    </a>
                </section>
                <section class="slider__section">
                        <a  routerLink="/inscaes">
                            <img src="./assets/img/INSTITUTOS4.png" alt="">
                        </a>
                        <a  routerLink="/insbarreal">
                            <img src="./assets/img/INSTITUTOS5.png" alt="">
                        </a>
                </section>                
            </div>
            <div id="btn-prev" class="btn-prev">&#60;</div>
            <div id="btn-next" class="btn-next">&#62;</div>
    </div>
</div>
<!-- <div class="container-fluid">
        <div class="slider">
            <ngb-carousel *ngIf="images">    
                      
                  <div class="news-container">                
                    <ng-template ngbSlide>
                      <div class="prueba1">
                        
                        <div class="picsum-img-wrapper">
                            <figure>
                                <a href="https://revistacys.iugna.edu.ar/index.php/RevistaCienciaySeguridad">
                                    <img src="./assets/img/INSTITUTOS1.png" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="picsum-img-wrapper">
                            <figure>
                                <a href="https://revistacys.iugna.edu.ar/index.php/RevistaCienciaySeguridad">
                                    <img src="./assets/img/INSTITUTOS2.png" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="picsum-img-wrapper">
                                <figure>
                                    <a href="https://revistacys.iugna.edu.ar/index.php/RevistaCienciaySeguridad">
                                        <img src="./assets/img/INSTITUTOS3.png" alt="">
                                    </a>
                                </figure>
                        </div>
                        
                        <div class="carousel-caption">                    
                        </div>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="prueba1">
                            <div class="picsum-img-wrapper">
                                    <figure>
                                        <a href="https://revistacys.iugna.edu.ar/index.php/RevistaCienciaySeguridad">
                                            <img src="./assets/img/INSTITUTOS4.png" alt="">
                                        </a>
                                    </figure>
                                </div>
                            <div class="picsum-img-wrapper">
                                    <figure>
                                        <a href="https://revistacys.iugna.edu.ar/index.php/RevistaCienciaySeguridad">
                                            <img src="./assets/img/INSTITUTOS5.png" alt="">
                                        </a>
                                    </figure>
                                </div>
                          <div class="carousel-caption">                    
                          </div>
                        </div>
                      <div class="carousel-caption">
                        
                      </div>
                    </ng-template>
                  </div> -->
                <!-- <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/img/m3.png" alt="Random third slide">
                  </div>
                  <div class="carousel-caption">                
                  </div>
                </ng-template> -->
    <!--           </ngb-carousel>
        </div>
    </div> -->
