<div class="container-footer">
    <div class="footer-contact instituto">
        <h6>INSTITUTO</h6>
        <hr>
        <p>Paseo Colón N° 533 CABA Tel: (011) 5169-3322 info@iugna.edu.ar</p>
        <!-- <p>Estatuto Autoridades Sistema Educativo Proyecto Institucional</p> -->

    </div>
    <div class="footer-contact telefonos-utiles">
        <h6>TELÉFONOS ÚTILES</h6>        
        <hr>
        <div class="telefonos-container">
            <div class="tel-escuelas">
                <p>Escuela de Oficiales (Bs. As): Tel: (011) 4620-2063 Interno 253</p>
                <p>Escuela de Suboficiales (Córdoba): Tel/Fax: (03525)401-964 </p>
                <p>Guardia:(03525)401-965</p>
                <p>Escuela de Gendarmes (San Juan): Tel: (02648) 441-023</p>
            </div>
            <div class="tel-escuelas">            
                <p>Escuela Superior (Bs.As) Tel: (011) 5169-3321</p>
                <p>Instituto de Capacitación Especializada (Bs.As) Tel: (02324)430-054</p>
                <!-- <p style="color: transparent">.</p><br> -->
                <p>Centro de Educación a Distancia (Bs.As) Tel:(011) 5169-3355</p>
            </div>
        </div>
    </div>       
</div>