
    

<div class="container-autoridades">
    <div class="autoridades">
        <h1>INVESTICACIÓN</h1><br>
        <p>La investigación es una actividad inherente y fundamental en el marco de la Seguridad; pensada como proceso indisociable de la enseñanza. Por un lado, inherente, ya que es una de las funciones principales que se determinan para el nivel universitario. Por otro lado, fundamental, puesto que la misma mantiene una relación estrecha con la calidad educativa, ya que permite generar "nuevos conocimientos, nuevos modos de relación entre la teoría y la práctica, y por lo tanto, (…) contribuye a generar nuevas experiencias de aprendizaje" (Proyecto Institucional Académico; 2009:203).</p><br>

            <p>El modelo de investigación científico-tecnológico adoptado está orientado básicamente por las necesidades específicas de GN, la Educación Superior y la producción de conocimiento en temas relacionados al IUGNA. Asimismo, la investigación se asienta sobre los requerimientos actuales del desarrollo profesional de los gendarmes y se proyecta hacia nuevos saberes</p><br>
            
            <p>Las áreas temáticas de investigación se centrarán en los campos de especialización profesional y problemáticas en contextos sociales locales, nacionales e internacionales, y en los procesos de enseñanza y aprendizaje de la educación superior, relacionados con el Instituto:</p><br>
            
            <p>1. Seguridad Pública.<br>
                2. Administración Pública.<br>
                3. Criminalística y Estudios Forenses.<br>
                4. Gestión y Seguridad de las Tecnologías de la Información.<br>
                5. Procesos de Enseñanza y Aprendizaje de la Educación Superior.<br><br>
                Contactos<br>
                
                Secretaría de investigación<br>
                investigacion@iugna.edu.ar</p>
                           
    </div>
    <div class="autoridades botones">
        <button class="acordion" routerLink="/biblioInv">Bibliotecas</button>
        <a class="acordion" href="./assets/pdf/investigacion-reglamento.pdf">Reglamento de Investigación de Iugna</a>
        <button class="acordion"  routerLink="/consejo">Consejo Interuniversitario Nacional (CIN)</button>
    </div>
</div>
<br>
<br>

