<div class="title">
    <p>Autoridades</p>
</div>
<div class="container-autoridades">
    <div class="autoridades">
        <p class="subtitle">Director Nacional de Gendarmería:</p>
        <p>Cte Grl Andres Severino</p><br><br>
        <p class="subtitle">Subdirector Nacional de Gendarmería:</p>
        <p>Cte Grl Javier Alberto Lapalma</p><br><br>
        <p class="subtitle">Director de Educación e Institutos:</p>
        <p>Cte My Hector Adrian Minetti</p><br><br>
                              
    </div>
    <div class="autoridades">
        <!-- <p class="subtitle">Secretario Académico:</p>
        <p>Lic. Jerónimo Morales Rins</p><br><br>
        <p class="subtitle">Secretaría de Extensión:</p>
        <p>Mg. Ana Laura Barudi</p><br><br> -->
        <p class="subtitle">Rector:</p>
        <p>Cte My Marcelo Gustavo Romero</p><br><br>
        <p class="subtitle">Vicerrector:</p>
        <p>Cte Pr Juan Guillermo Rivera</p><br><br> 
        <p class="subtitle">Secretario de Planeamiento Educativo:</p>
        <p>Cte Grl Augusto Roberto Aranda</p><br><br>
        <!-- <p class="subtitle">Secretario de Planeamiento y Administración Financiera:</p>
        <p>Cte My Antonio Ricardo Busse</p><br><br>
        <p class="subtitle">Secretario de Postgtrado Investigación y Educación Permanente:</p>
        <p>Mg. Damian Eduardo Szvalb</p><br><br> -->
    </div>
</div>


