<div class="title">
        <p>Escuela Superior de Gendarmería Nacional "Grl D. Manuel María Calderón"</p>
    </div>
    <div class="container-escuela">
        <div class="descripcion">
            <p>Originada en 1956, la Escuela Superior de Gendarmería Nacional nace de la modificación y reestructuración de los cursos de capacitación y perfeccionamiento de jefes y oficiales. En 1966 se establece oficialmente su creación.</p>
            <br>                    
            <p>Con la creación de IUGNA (Ley 26.286) y su estatuto académico (Resolución del Ministerio de Educación 417/10), la Escuela Superior pasó a constituirse en la Unidad Académica de Posgrados, aumentando significativamente su oferta educativa.</p>
            <hr>
            <p>Su misión principal consta de actualizar y formar al oficial, responder a las demandas sociales, políticas e institucionales, otorgar herramientas válidas para desenvolverse en el escenario de la seguridad pública actual en la defensa nacional y en el apoyo a la política exterior de la Nación.</p>
        </div>
        <div class="logo-escugen">
            <figure>
                <img src="./assets/img/escusuper.png" alt="">
            </figure>
            <div class="contenedor-botones">
                <div class="botones">
                    <a href="https://prensagendarmeria.gob.ar/vacantes-para-incorporarse-a-gendarmeria-nacional">
                        <button>INGRESO</button>
                    </a>
                    <a routerLink="/biblioEscusuper">
                        <button>BIBLIOTECA</button>
                    </a>
               </div>
            </div>
        </div>
    </div>


