<div class="title">
        <p>Escuela de Suboficiales "Cabo Raúl Remberto Cuello"</p>
    </div>
    <div class="container-escuela">
        <div class="descripcion">
            <p>Dedicado a la formación de futuros Suboficiales y Gendarmes, la Escuela de Suboficiales “Cabo Raúl Remberto Cuello” inició sus actividades en 1955.</p>
            <br>                    
            <p>Entre 1958 y 1959, en la localidad de Barreal, Agrupación San Juan, se inició el “Curso de Aspirante a Suboficial del Cuerpo de Comando”. El inicio de este Curso define la fecha de origen del Instituto (15 de Abril de 1958).</p>
            <hr>
            <p>Actualmente, y desde 1962, la Escuela se encuentra en Jesús María (Provincia de Córdoba), donde se lleva adelante la formación de alumnos - aspirantes como futuros Suboficiales de Gendarmería Nacional y Técnicos Universitarios.</p>
        </div>
        <div class="logo-escugen">
            <figure>
                <img src="./assets/img/escusub.png" alt="">
            </figure>
            <div class="contenedor-botones">
                <div class="botones">
                    <a href="https://prensagendarmeria.gob.ar/vacantes-para-incorporarse-a-gendarmeria-nacional">
                        <button>INGRESO</button>
                    </a>
                    <a routerLink="/biblioEscusub">
                        <button>BIBLIOTECA</button>
                    </a>
               </div>
            </div>
        </div>
    </div>

