<div class="title">
    <p>Escuela de Oficiales "Grl Don Martín Miguelde Güemes"</p>
</div>
<div class="container-escuela">
    <div class="descripcion">
        <p>La Escuela de Gendarmería Nacional “General Don Martín Miguel de Güemes” fue creada el 2 de mayo de 1944, con su primer asentamiento en “Campo de Mayo”. Trasladada y ubicada desde 1960 en Ciudad Evita (La Matanza), provincia de Bs. As., actualmente es el único Centro de Formación de la Fuerza, donde se preparan y educan a los futuros Oficiales de Gendarmería Nacional, que egresan con el grado de Subalférez del Escalafón General en sus especialidades Seguridad, Comunicaciones, Intendencia y Policía Científica.</p>
        <br>                    
        <p>La Escuela Güemes lleva adelante la formación de alumnos - cadetes como futuros Oficiales de Gendarmería Nacional y Técnicos Universitarios en las respectivas carreras; luego de un año de cursado en los centros educativos de perfeccionamiento específico como Licenciado.</p>
    </div>
    <div class="logo-escugen">
        <figure>
            <img src="./assets/img/escugen.png" alt="">
        </figure>
        <div class="contenedor-botones">
            <div class="botones">
                <button>INGRESO</button>
                <button>BIBLIOTECA</button>
           </div>
        </div>
    </div>
</div>


