<div class="container-autoridades">
    <div class="autoridades">
        <h1>EXTENSIÓN UNIVERSITARIA</h1><br>
        <p>Extensión Universitaria se perfila como un espacio institucional que amplía la relación del Instituto Universitario con el medio social, aportando a este los resultados y logros de la investigación y la docencia.</p><br>

            <p>La Extensión Universitaria tiene el propósito de difundir al público general el conocimiento, la tecnología y la cultura, lo que incluye la divulgación científica. Esta función universitaria cumple un rol complementario a la formación académica en el conjunto de la comunidad universitaria; un rol en la divulgación científica y en la diversidad cultural; un rol en la transformación social y el desarrollo comunitario y un rol en la transferencia tecnológica.</p><br>
            
            <p>De la Secretaría de Extensión Universitaria dependen los programas, proyectos y actividades: de difusión al público general de las actividades académicas del Instituto y de educación permanente; complementarios a la formación académica; y con finalidades de asistencia, cooperación y servicios.</p><br>
            
            <p>La actividad de Extensión Universitaria está destinada a la sociedad en general, a las empresas productivas de bienes y servicios, a organizaciones del sector público, a las ONG (tercer sector) y a la propia comunidad universitaria.</p><br>
            
            <p>Contactos<br>
            Secretaría de Extensión Universitaria<br>
            extension@iugna.edu.ar<br>
                Contactos<br>
                
                Secretaría de investigación<br>
                investigacion@iugna.edu.ar</p>
                           
    </div>
    <div class="autoridades botones">
        <a class="acordion" href="./assets/pdf/extension-reglamento.pdf">Reglamento de Investigación de Iugna</a>        
    </div>
</div>
<br>
<br>
