<div class="container-paginas-externas">
    <div class="paginas-externas">
        <figure class="moodle">
                <a class= "c-preview1" href="https://plataformavirtual.iugna.edu.ar/login/index.php">
                    <img class="c-preview__img1" src="./assets/img/boton1.png" alt="">
                </a>
        </figure>
    </div>
    <div class="paginas-externas">
        <figure class="siu">
                <a class= "c-preview2" href="https://siu.iugna.edu.ar/">
                    <img class="c-preview__img2" src="./assets/img/botonSiu.jpg" alt="">
                </a>
        </figure>
    </div>
    <div class="paginas-externas">
        <figure class="revista">
            <a class= "c-preview3" href="https://revistacys.iugna.edu.ar/index.php/RevistaCienciaySeguridad">
                <img class="c-preview__img3" src="./assets/img/botonRevista.jpg" alt="">
            </a>
        </figure>
    </div>
</div>
