<div class="title">
        <p>Instituto de Formación de Gendarmes "Gendarme Félix Manifior"</p>
    </div>
    <div class="container-escuela">
        <div class="descripcion">
            <p>El 15 de abril de 1958 se da inició a las actividades en la escuela de suboficiales en la localidad sanjuanina de barreal, ubicada a 220 kilómetros de la capital provincial.</p>
            <br>                    
            <p>Luego de varios traslados y reformas, a través de la DDNG 1031/15 se modifica la magnitud del elemento pasando a denominarse Instituto de Formación de Gendarmes “Gendarme Félix Manifior”, donde se desarrolla un nuevo diseño curricular basado en intervenciones profesionales, normado por la disposición del director nacional en el año 2016.</p>
            <hr>
            <p>A través de una formación integral se busca desarrollar las capacidades y competencias individuales de los futuros funcionarios públicos encargados de hacer cumplir la ley, para poder desempeñarse en forma eficaz y eficientemente como auxiliares de la justicia federal.</p>
        </div>
        <div class="logo-escugen">
            <figure>
                <img src="./assets/img/insbarreal.png" alt="">
            </figure>
            <div class="contenedor-botones">
                <div class="botones">
                    <button>INGRESO</button>                    
               </div>
            </div>
        </div>
    </div>



