<div class="title">
    <p>ESCUELA SUPERIOR DE GENDARMERÍA NACIONAL - BIBLIOTECA</p>        
</div>
<div class="container-autoridades">
    <div class="autoridades">
        <p class="subtitle">Misión</p><br>
        <p>La misión de la biblioteca es brindar a toda la comunidad de Gendarmería Nacional el acceso a distintas fuentes de informaición, en fondos propios o de otras bibliotecas, que fomenten y favorezcan el estudio y la investigación en el marco de la Seguridad Pública y la Defensa Nacional.</p><br>
        <p class="subtitle">Visión</p><br>
        <p>La biblioteca procura ser un referente en los servicios e información proporcionada a sus usuarios utilizando las nuevas tecnologías, en un alto nivel de eficiencia y calidad, para contribuir al desarrollo intelectual y profesional de toda la comunidad de Gendarmería Nacional.</p><br>
        <p class="subtitle">Contacto:</p><br>
        
        <p>-Teléfono: 5169-3300 int. 3405</p>                                 
        <p>-Mail: biblioteca.calderon@iugna.edu.ar</p><br>   
        <p class="subtitle">Horarios:</p><br>                              
        <p>- Lunes y Viernes: 8 a 13 y 14 a 17 hs</p>                                 
        <p>- Martes a Jueves: 9 a 17 hs</p><br>                                 
    </div>
    <div class="autoridades">
        <p class="subtitle">Servicios</p><br>
        <p>- Acceso libre a los estantes</p>
        <p>- Consulta en Sala de Lectura</p>
        <p>- Búsqueda y localización de bibliografía</p>
        <p>- Préstamo a domicilio</p> 
        <p>- Reservas y renovación de préstamos</p>  
        <p>- Formación de usuarios</p>
        <p>- Internet WIFI</p>                    
    </div>
    <div class="autoridades">
        <p class="subtitle">Consultas en Línea</p><br>
        <a href="http://abcdonline.com.ar/bgn/">-Catálogo Biblioteca (libros y revistas de la biblioteca).</a><br>
        <a href="http://www.rebifa.mindef.gov.ar/">-Catálogo REBIFA (Red de Bibliotecas de las Fuerzas Armadas).</a><br>
        <a href="https://issuu.com/minseg/docs/cuadernos_seguridad_15">-Revista Cuadernos de Seguridad.</a><br>
        <a href="http://www.biblioteca.mincyt.gob.ar/">-Bases de Datos de Acceso Libre (desde cualquier PC).</a><br>
        <a href="http://www.infoleg.gob.ar/">-Base Infoleg - Legislación Min. Economía (desde cualquier PC).</a><br>
        <a href="http://www.saij.gob.ar/">-Sistema Argentino de Información Jurídica (desde Biblioteca).</a><br>
        <a href="https://www.slideshare.net/carlosguillermoblanco">-Psicología Policial Práctica (desde cualquier PC).</a><br>
        <a href="https://prensagendarmeria.gob.ar/revista-centinelas">-Revista Centinelas de GNA (desde cualquier PC).</a><br>
    </div>
</div>

