<div class="title">
    <p>ESCUELA DE SUBOFICIALES DE GENDARMERÍA - BIBLIOTECA</p>        
</div>
<div class="container-autoridades">
    <div class="autoridades">
        <p class="subtitle">Misión</p><br>
        <p>Brindar a los miembros de la Escuela de Suboficiales de Gendarmería Nacional los medios, los materiales y los servicios necesarios para apoyar el proceso de enseñanza aprendizaje y satisfacer las necesidades de información.</p><br>
        <p class="subtitle">Visión</p><br>
        <p>Enriquecer la calidad de la educación de Escuela de Suboficiales de Gendarmería Nacional a partir de la formación de alumnos autónomos y críticos que desarrollen plenamente sus competencias comunicativas.</p><br>
        <p class="subtitle">Contactos</p><br>
        <p>Teléfono: 03525-401965 Int 1159 / Directo: 03525-401859</p><br>                                 
        <p>Horario: Lunes a Viernes de 7:00 a 13:00 y de 14:00 a 20:00 hs</p><br>                                 
    </div>
    <div class="autoridades">
        <p class="subtitle">Servicios</p><br>
        <p>- Sala de lectura.</p>
        <p>- Préstamo a domicilio.</p>
        <p>- Préstamos áulicos</p>
        <p>- Referencia.</p>
        <p>- Consultas de cartas topográficas.</p>
        <p>- Consultas de CD y otros formatos.</p>
        <p>- Búsquedas en Internet.</p>
        <p>- Asesoramiento bibliográfico.</p>
        <p>- Hemeroteca.</p>        
    </div>
</div>
