<div class="wrap">
        <ul class="tabs row">
            
                <li class="tecnicaturas col-lg"><a><i (click)="ejecutarTab(1)"><span class="fa fa-home"></span><span
                            class="tab-text">TECNICATURAS</span></i></a></li>
                            <div *ngIf="isTab1Active" class="">
                                    <article id="tab1">
                                        <div class="cursos" id="cursos">
                                            <a href="#">Seguridad Pública y Ciudadana</a>
                                            <hr>
                                            <a href="#">Administración Pública</a>
                                            <hr>
                                            <a href="#">Criminalistica</a>
                                            <hr>
                                            <a href="#">Gestión de las Comunicaciones</a>
                                            <hr>
                                            <a href="#">Investigación Criminal</a>
                                            <hr>
                                            <a href="#">Seguridad Vial</a>
                                            <hr>
                                        </div>
                                    </article>
                                </div>

                <li class="licenciaturas col-lg"><a><i  (click)="ejecutarTab(2)"><span class="fa fa-group"></span><span
                            class="tab-text">LICENCIATURAS</span></i></a></li>
                            <div *ngIf="isTab2Active">
                                    <article id="tab2">
                                        <div class="cursos col-lg12" id="cursos">
                                            <a href="#">Administración Pública</a>
                                            <hr>
                                            <a href="#">Seguridad Pública</a>
                                            <hr>
                                            <a href="#">Criminalistica</a>
                                            <hr>
                                            <a href="#">Gestión y Seguridad de las Tecnologías de la Información</a>
                        
                                        </div>
                                    </article>
                                </div>

                <li class="cursosPosgrado col-lg"><a><i (click)="ejecutarTab(3)"><span class="fa fa-briefcase"></span><span class="tab-text">CURSOS DE
                            POSGRADO</span></i></a></li>
                            <div *ngIf="isTab3Active">
                                    <article id="tab3">
                                        <div class="cursos" id="cursos">
                                            <a href="#">Diplomatura en Fronteras</a>
                                            <hr>
                                            <a href="#">Diplomatura en Gestión Integral de Riesgo de Desastre</a>
                                            <hr>
                                            <a href="#">Diplomatura en Inteligencia Criminal y Crimen Organizado</a>
                                            <hr>
                        
                                        </div>
                                    </article>
                                </div>
            
                <li class="cursosExtension col-lg"><a><i (click)="ejecutarTab(4)"><span class="fa fa-bookmark"></span><span class="tab-text">CURSOS DE
                            EXTENSIÓN</span></i></a></li>
                            <div *ngIf="isTab4Active">
                                    <article id="tab4">
                                        <div class="cursos" id="cursos">
                                            <a href="#">Investigación de accidentes de tránsito</a>
                                            <hr>
                                            <a href="#">Francés I</a>
                                            <hr>
                                            <a href="#">Inglés I</a>
                                            <hr>
                                            <a href="#">Herramientas básicas de informática</a>
                                            <hr>
                                            <a href="#">Prevención del delito</a>
                                            <hr>
                                            <a href="#">Francés II</a>
                                            <hr>
                                            <a href="#">Inglés II</a>
                                            <hr>
                                            <a href="#">Liderar para el cambio</a>
                                            <hr>
                                            <a href="#">Introducción a la mediación y a la negociación</a>
                                            <hr>
                                        </div>
                                    </article>
                                </div>
                <li class="ciclos col-xs12 col-lg"><a><i  (click)="ejecutarTab(5)"><span class="fa fa-bookmark"></span><span class="tab-text">CICLOS DE
                            LICENCIATURA</span></i></a></li>
                            <div *ngIf="isTab5Active">
                                    <article id="tab5">
                                        <div class="cursos" id="cursos">
                                            <a class="" href="#">Administración Pública</a>
                                            <hr>
                                            <a href="#">Seguridad Pública</a>
                                            <hr>
                                            <a href="#">Criminalistica</a>
                                            <hr>
                                            <a href="#">Profesorado Universitario</a>
                                            <hr>
                        
                                        </div>
                                    </article>
                                </div>
            
        </ul>
    
       <!--  <div class="secciones">
               
        </div> -->