<div class="title">
        <p>Escuela de Capacitación Especializada "Cabo Juan Adolfo Romero"</p>
    </div>
    <div class="container-escuela">
        <div class="descripcion">
            <p>Originada con el desdoblamiento de la Escuela de Suboficiales, en octubre de 1976 fue creado el Centro de Formación de los Suboficiales del Escalafón Profesional, ubicada en la Guarnición “Campo de Mayo”.</p>
            <br>                    
            <p>En 1979, se traslada a la ciudad bonaerense de Mercedes, conformándose como Escuela de los Servicios para Apoyo de Gendarmería Nacional “Cabo Juan Adolfo Romero”, sumándose nuevas especialidades y exigencias que van desde el dominio de la informática hasta la formación de auxiliares en las técnicas de investigación policial.</p>
            <hr>
            <p>Finalmente en 1993, se traslada a las actuales instalaciones que pertenecieran al ex Regimiento 6 de Infantería General “VIAMONTE”, integrándose el Curso Básico de Formación de Gendarmes, el Centro de Capacitación para el Personal con Misiones al Exterior, y el Centro de Capacitación en Conducción y Mecánicos de Motos y Vehículos.</p>
        </div>
        <div class="logo-escugen">
            <figure>
                <img src="./assets/img/inscaes.png" alt="">
            </figure>
            <div class="contenedor-botones">
                <div class="botones">
                    <button>INGRESO</button>                    
               </div>
            </div>
        </div>
    </div>



