<div class="container-autoridades">
    <div class="autoridades">
        <h1>CONSEJO INTERUNIVERSITARIO NACIONAL (CIN)</h1><br>        

            <p>El Consejo Interuniversitario Nacional, como organismo coordinador de las políticas universitarias, nuclea y contiene a las universidades nacionales que de manera voluntaria decidan formar parte de dicho organismo. El Instituto Universitario de Gendarmería Nacional se encuentra adherido al Consejo Interuniversitario Nacional. Asimismo, El CIN brinda becas a estudiantes que deseen iniciarse en la investigación científica.</p><br>
            
            
                           
    </div>
    <div class="autoridades botones">
        <button class="acordion" routerLink="/biblioInv">Bibliotecas</button>
        <a class="acordion" href="./assets/pdf/investigacion-reglamento.pdf">Reglamento de Investigación de Iugna</a>
        <button class="acordion"  routerLink="/consejo">Consejo Interuniversitario Nacional (CIN)</button>
    </div>
</div>
<br>
<br>