<div class="title">
        <p>ESCUELA DE GENDARMERÍA - BIBLIOTECA</p>        
    </div>
    <div class="container-autoridades">
        <div class="autoridades">
            <p class="subtitle">Misión</p><br>
            <p>Reunir, clasificar y conservar material bibliográfico y documental que trate sobre temas vinculados, directa o indirectamente, con seguridad interior, defensa nacional, política exterior de la nación, criminalística, administración, comunicación y de cultura general y literatura, para satisfacer requerimientos de estudio, investigación, divulgación y recreación del personal y alumnos de la unidad académica gral. D martín miguel de güemes, del instituto universitario de gendarmería nacional argentina.</p><br>
            <p class="subtitle">Visión</p><br>
            <p>Ser una biblioteca que brinde servicios adecuados a las necesidades de los distintos perfiles de usuarios (alumnos, graduados, investigadores, personal docente y no docente) con el fin de alcanzar niveles óptimos de calidad total.</p><br>
            <p class="subtitle">Contactos</p><br>
            <p>biblioteca.escugen@gmail.com</p><br>                                 
        </div>
        <div class="autoridades">
            <p class="subtitle">Servicios</p><br>
            <p>- Información bibliográfica: documentos con los que cuenta la unidad de información.</p>
            <p>- Préstamo en sala.</p>
            <p>- Préstamo a domicilio.</p>
            <p>- Servicio de consulta rápida.</p>
            <p>- Servicio de entrevista de referencia.</p>
            <p>- Servicio de formación de usuarios.</p>
            <p>- Servicio de préstamo a través de e-mail a usuarios en el despliegue.</p>
            <p>- Acceso a bases de datos, públicas y del mincyt.</p>
            <p>- Actividades de extensión bibliotecaria.</p>
            <p>- Terminales con acceso a internet.</p>
            <p>- Asesoría en búsquedas en la web y sobre recursos electrónicos.</p>
        </div>
    </div>
    
    
    
